#contentLocation {
	clear: both !important;
}
#contextual-menu {
	background: #000 !important;
	color: #eee !important;
	padding: 10px !important;
}
#contextual-menu a {
	color: #eee !important;
}
#contextual-menu a:hover {
	color: #fff !important;
}
#tools {
	background: #000 !important;
	border: 1px 666 solid !important;
	color: #ccc !important;
}
#tools #mainMenu {
	padding: 10px 5px 5px 5px !important;
}
#tools #mainMenu li {
	display: inline-block;
	background: #666 !important;
	padding: 5px !important;
	margin: 3px 5px !important;
}
#tools #mainMenu li:hover {
	background: #888 !important;
	color: #ddd !important;
}
#tools #mainMenu li a {
	color: #eee !important;
}
#tools #mainMenu li a:hove {
	color: #fff !important;
}
#tools #thread {
	padding: 5px !important;
}
#tools #thread li {
	padding: 5px !important;
	display: inline-block;
}
#tools #thread li a,
#tools #thread li a:visited,
#tools #thread li a:active {
	color: #bbb !important;
}
#tools #thread .thread-separator {
	padding-left: 10px !important;
}
#tools #search, #tools #languages {
	float: right !important;
	padding: 0 10px 10px 10px !important;
}
#tools #languages {
	padding-right: 0 !important;
}
#tools #search .cblock {
	background: #666 !important;
	padding: 2px !important;
}
#tools #languages ul {
	background: #666 !important;
	padding: 3px !important;
}
#tools #languages ul li {
	display: inline-block !important;
}
#tools #languages ul li .separator {
	margin-right: 5px !important;
}
#tools #search .cblock form {
	background: #666 !important;
text-align: right !important;
}
#tools #search .cblock form fieldset {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}