#contentLocation {
	clear: both !important;
}
#contextual-menu {
	background: #000 !important;
	color: #eee !important;
	padding: 10px !important;
}
#contextual-menu a {
	color: #eee !important;
}
#contextual-menu a:hover {
	color: #fff !important;
}
#tools {
	background: #000 !important;
	border: 1px 666 solid !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	z-index: 1000000 !important;
	color: #ccc !important;
}
#tools2 {
	background: #000 !important;
	border: 1px 666 solid !important;
	color: #ccc !important;
}
#tools #mainMenu,
#tools2 #mainMenu2 {
	padding: 10px 5px 5px 5px !important;
}
#tools #mainMenu li,
#tools2 #mainMenu2 li {
	background: #666 !important;
	padding: 5px !important;
	margin: 3px 5px !important;
}
#tools #mainMenu li:hover,
#tools2 #mainMenu2 li:hover {
	background: #888 !important;
	color: #ddd !important;
}
#tools #mainMenu li a,
#tools2 #mainMenu2 li a {
	color: #eee !important;
}
#tools #mainMenu li a:hove,
#tools2 #mainMenu2 li a:hover {
	color: #fff !important;
}
#tools #thread,
#tools2 #thread2 {
	padding: 5px !important;
}
#tools #thread li,
#tools2 #thread2 li {
	padding: 5px !important;
}
#tools #thread li a,
#tools #thread li a:visited,
#tools #thread li a:active,
#tools2 #thread2 li a,
#tools2 #thread2 li a:visited,
#tools2 #thread2 li a:active {
	color: #bbb !important;
}
#tools #thread .thread-separator,
#tools2 #thread2 .thread-separator {
	padding-left: 10px !important;
}
#tools #search, #tools #languages,
#tools2 #search2, #tools2 #languages2 {
	float: right !important;
	padding: 0 10px 10px 10px !important;
}
#tools #languages,
#tools2 #languages2 {
	padding-right: 0 !important;
}
#tools #search .cblock,
#tools2 #search2 .cblock {
	background: #666 !important;
	padding: 2px;
}
#tools #languages .cblock,
#tools2 #languages2 .cblock {
	background: #666 !important;
	padding: 3px;
}
#tools #search .cblock form,
#tools2 #search2 .cblock form {
	background: #666 !important;
}